<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-title class="custom-font">เลือกร้านคาเฟ่ของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <br>
  <div *ngFor="let item of shop; index as i">
  <ion-button class="custom-font" color="dark" (click)="clickShop({name:item.name,id:item._id,promptpay:item.promptpay})" expand="block" routerLink="/menu">{{item.name}}</ion-button>  
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="arrow-undo-circle-sharp" routerLink="/login"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>  
</ion-content>

