ion-header{
    --ion-background-color:#FFFFD8;
}
.custom-font{
    font-family: 'Kanit', sans-serif;
}
h2 {text-align: center;}
ion-header{
    --ion-background-color:#FFFFD8;
}
ion-content{

    --ion-background-color:#FFFFCF;
}